body {
	padding-left: 20vw;
	padding-right: 20vw;
	background-color: #F9F9F9;
}

span {
	font-weight: bold;
}

.menu-open {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, #98B296, #98B296 20%, transparent 20%, transparent 40%, #98B296 40%, #98B296 60%, transparent 60%, transparent 80%, #98B296 80%, #98B296 100%);
  -webkit-transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
  width: 2vw;
  height: 1.5vw;
  border: none;
}

.menu {
	width: 3vw;
	height: 1vw;
	float: left;
	margin-top: -11vw;
}

.menu-close {
	background-color: #98B296;
	border: none;
	border-radius: 5px;
}

.menu-content {
    box-sizing: border-box;
    width: 5vw;
    height: 7.5vh;
    transform: translateX(-1000%); 
    transition: 0.2s;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    position: relative;
}
.menu-opened .menu-content {
    transform: none; 

}

#butt {
	background-color: #80B7B3;
	border: none;
	box-shadow: 10px 10px 50px rgba(0,0,0,0.7);
	color: white;
	width: 12vw;
	height: 5vw;
	font-size: 2vw;
	margin-top: -0.5vw;
	position: relative;
} 

.baton {
	width: 12vw;
	height: 5vw;
	margin: 0 auto;
}

.bolshie {
	font-size: 9vw;
	letter-spacing: 2vw;
	opacity: .2;
	text-align: center;
}

#gringo {
	background-color: #80B7B3;
	border: none;
}

#gringo:hover {
	background-color: #4E8581;
}

.c {
	margin: 0 auto;
	width: 80%;
	height: 15vw;
	margin-top: -4vw;
}

.txt {
	width: 20vw;
	height: 25vw;
	margin-left: 0;
}

.travel {
	font-size: 0.7vw;
}


#brown {
	width: 30%;
	height: 20%;
	margin-left: 22vw;
	margin-top: -30vw;
	position: relative;
}

.taxt {
	font-size: 1vw;
	padding-top: 1vw;
}

.full {
	background-color: #80B7B3;
	box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
	color: white;
	border: none;
	border-radius: 2vw;
	cursor: pointer;
	width: 10vw;
	height: 2vw;
	font-size: 1vw;
}

.full:hover {
	background-color: #4E8581;
}

.full2:hover {
	background-color: #4E8581;
}

.full3:hover {
	background-color: #4E8581;
}

#earth {
	width: 50%;
	height: 50%;
    margin-top: -25vw;
    margin-left: 27vw;
	float: right;
}

.chel {
	width: 100%;
	height: 58vw;
	margin-top: 12vw;
	margin-left: 0vw;
	text-align: center;
}

.golovok {
	font-size: 1.5vw;
	font-weight: bold;
	margin-left: 9vw;
	width: 70%;
}

.begi {
	max-width: 100%;
	height: auto; 
}

.golovok2 {
	width: 70%;
	height: 20%;
	margin-left: 10vw;
	text-align: left;
}

.iframe {
	width: 100%;
	height: 25vw;
	margin-top: 40vw;
	float: left;
}



#glina {
	width: 45%;
	height: 20vw;
	margin-top: 10vw;
	
}

#beloe {
	width: 80%;
	height: 20vw;
	margin-left: 8vw;
	margin-top: -10vw;
	
}

.italic {
	font-size: 1.1vw;
    font-style: italic;
}


.agag {
	font-size: 2vw;
}

#les {
	margin-top: 20vw;
}

.caco {
	width: 30vw;
	height: 15vw;
    background-color: #3C4F57;
    opacity: 0.9;
    position: relative;
    margin-top: -20vw;
    margin-left: 15vw;
    display: block;
    color: white;
    padding-top: 2vw;
    text-align: center;
    font-size: 1vw
}

.input {
	width: 20vw;
	height: 5vw;
	margin-top: -9vw;
	position: relative;
	margin-left: 21vw;
}

#input {
	border-radius: 15px;
	height: 1.5vw;
	width: 9vw;
	border: 5px;
	border-color: #4C5D61;
	color: white;
	background-color: #2B3C40;
	font-size: 1vw;
}

.full2 {
	background-color: #80B7B3;
	box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
	color: white;
	border: none;
	border-radius: 2vw;
	cursor: pointer;
	width: 10vw;
	height: 1.5vw;
	font-size: 1vw;
	position: relative;
    margin-left: 4vw;
    margin-top: 1vw;
}

.a {
	background-image: url(img/223.png);
	width: 100%;
	height: 20vw;
	margin-top: 10vw;
	background-repeat: no-repeat;
	background-size: 50% 100%;
}

.b {
	background-image: url(img/rectangle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 80%;
	height: 20vw;
	margin-left: 9vw;
	margin-top: -8vw;
}

.God {
	width: 100%;
	height: 31vw;
}

.bob {
	float: left;
	margin-left: 27vw;
	margin-top: 4vw;
}

.full3 {
	background-color: #80B7B3;
	box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
	color: white;
	border: none;
	border-radius: 2vw;
	cursor: pointer;
	width: 10vw;
	height: 2vw;
	font-size: 1vw;
	margin-left: 23vw;
	margin-top: 10vw;
}

.nedotxt {
	width: 60%;
	margin-left: 8vw;
    height: 28%;
	/* margin-top: 3.5vw; */
	padding-top: 5vw;
}

.jepa {
	width: 100%;
	height: 30vw;
}

.sending {
  width: 30vw;
  height: 15vw;
}






@media screen and (max-width: 300px) {
 
 .full2 {
 	margin-top: 10vw;
 }
}